@import url('https://fonts.googleapis.com/css?family=Meie+Script|Shadows+Into+Light|Arvo|Monda');
.welcome{
    /* border: 2px solid red; */
    margin: 150px;
}
.font_shadows_into_light {
    font-family: 'Shadows Into Light', cursive;
  }

main{
    background-color: #15191E;
    color: white;
}
html,
body,
header,
#intro {
    height: 100%;
}
.mk-it-large{
    font-size: 40px;
}
#intro {
    background: url("images/spidey-1.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.intro-text{
    /* background-color: rgb(19, 18, 17); */
    color: white;
    text-shadow: 2px 2px #ff0000;
    /* border: 2px solid red; */
}

.card-header, .card-text{
   color: #9ABBCC;
}

i:hover{
    color: #00E054;
}
.card:hover{
    border-width: 0.1rem;
    border-color: rgb(16, 17, 15);
}

button:hover{
    color: #00E054;
}

footer{
    padding: 2.5% 0;
    /* margin: 10%; */
    background-color: rgb(17, 16, 16);
    text-align: center;
    color: aliceblue;
}
.social-icon{
    margin: 2% 1%;
}
.icon:hover{
    color: #00C030;
}