body{
    background-color: #15191E;
}

img{
    width: 20%;
    height: 50%;
}
.card{
    width: 20%;
    float: left;
    margin: 2% 1%;
    /* border-color: #15191E; */
    border: 1px solid black;
}
.carousel-item{
    /* width: 90; */
    margin: auto;
    /* text-align: center; */
}
/* .carousel-inner {
    height: 450px;
}  */
.card:hover{
    /* outline-color: chartreuse; */
    border-width: 0.3rem;
    border: 1px solid rgb(25, 187, 10);
    /* background-color: chartreuse; */
}
.cards{
    margin:-1px;
}

.inp-movie{
    padding-left: 500px;
    padding-right: 500px;
}

.dp-fp{
    margin-top: 40px;
    margin-left: 85px;
    margin-right: 150px;
    padding-left: 50px;
    text-align: center;
    border-bottom: 2px solid rgb(68, 67, 67);
}
.dropdown-menu{
    background-color: #212529;
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    color: green;
    background-color: #212529;
}


footer{
    padding: 2.5% 0;
    /* margin: 10%; */
    background-color: rgb(17, 16, 16);
    text-align: center;
    color: aliceblue;
}
.social-icon{
    margin: 2% 1%;
}
.icon:hover{
    color: #00C030;
}